<div class="desktop-nav">
  <ul class="desktop-nav__links">
    <li><a href="{{ '/' | relative_url }}" {% if page.active == "home" %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ '/services' | relative_url }}" {% if page.active == "services" %}class="active"{% endif %}>Services</a></li>
    <li><a href="{{ '/contact' | relative_url }}" {% if page.active == "contact" %}class="active"{% endif %}>Contact</a></li>
    <li><a href="{{ '/about' | relative_url }}" {% if page.active == "about" %}class="active"{% endif %}>About</a></li>
    <span class="follow-underline"></span>
  </ul>
</div>
