<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    <button class="mobile-toggle" type="button" aria-label="Toggle mobile navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="mobile-nav">
    <ul class="mobile-nav__links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/services' | relative_url }}">Services</a></li>
      <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
    </ul>
    <ul class="mobile-nav__actions">
      <li class="mobile-nav__actions__book"><a href="{{ '/contact' | relative_url }}">Make Enquiry</a></li>
      <li class="mobile-nav__actions__phone"><a href="tel:07885671931">07885 671931</a></li>
    </ul>
  </div>

</nav>
