.desktop-nav {
  display: none;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.desktop-nav__links {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 1.25em;
  margin: 0;

  a {
    display: block;
    position: relative;
    padding: 0.75rem 0;
    margin: 0 1rem;
  }

  .follow-underline {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: lighten($link-color, 15%);
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }

  &.follow-underline-transition .follow-underline {
    opacity: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
  }

  &:hover .follow-underline {
    background-color: $link-hover-color;
  }
}
