.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
}

.fab.fa-twitter {
  color: #1da1f2;
}

.fab.fa-facebook {
  color: #3b5998;
}

.footer-icon {
  font-size: 2em;
  margin: 0.5em;
}
